#topPortion{
    text-align: center;
}

.options{
    display: inline-block;
    padding: 10px;
    margin: 80px;
    border: 1px solid black;
}

#bottomPortion{
    -webkit-column-count: 5;
    column-count: 5;
    column-gap: 10px;
}

li{
    border: black solid 1px;
}